
h1{

font-family: "Bookman";
color: rgb(245, 242, 10);
background-color: blue;
text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 125%;
    background-color: #00fff7;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #11

    .active {
        background-color: #4CAF50;
    }
