.img-fluid {
  width: 2000px;
  height: 250px;

}

img {
  width: 920px;
  height: 250px;
  color: blue;
}

.rowlist {
  text-align: center;
  background-color: lightblue;
}

.name {
  text-align: center;
  background-color: lightblue;
  color: red;
}

.background {
  background-color: orange;
}
