.img-fluid {
  width: 2000px;
  height: 250px;

}

img {
  width: 920px;
  height: 250px;
  color: blue;
}

.rowlist {
  text-align: center;

}

.name {
  text-align: center;

  color: white;
}

.background {
  background-color: orange;
}

footer {
  text-align: center;
}

.ach {
  color: white;


  list-style-type: decimal;
  text-align: center;

}
