.navbar-light .bg-light {
  background-color: white;
}
.navbar {
  margin: 0;
  background-color: orange;
}

.navbar-toggler {
  background-color: orange;
  z-index: 6;
  font-weight: bold;
  font-size: 2rem;
  border: transparent;
}

.orange_bg {
  background-color: white;
}

.img-fluid {
  width: 2000px;
  height: 250px;

}

img {
  width: 920px;
  height: 250px;
  color: blue;
}

.rowlist {
  text-align: center;

}

.name {
  text-align: center;

  color: white;
}

.background {
  background-color: orange;
}

footer {
  text-align: center;
}

.ach {
  color: white;


  list-style-type: decimal;
  text-align: center;

}
