#logo, img {
  width: 20%;
}
header {
  width: 90%;
  height: 5%;
  padding-left: 1rem;
  background-color: orange;
  color: white;
}

#mynetwork {
  width: 90%;
  height: 35rem;
  background-color: rgb(213, 235, 241);
}

footer {
  font-size: .5rem;
  text-align: center;
}
.form-group {
  padding-top: 1rem;
}
