
.navbar-light .bg-light {
  background-color: white;
}
.navbar {
  margin: 0;
  background-color: orange;
}

.navbar-toggler {
  background-color: orange;
  z-index: 6;
  font-weight: bold;
  font-size: 2rem;
  border: transparent;
}

.orange_bg {
  background-color: white;
}
a {
  color: orange;
  text-align: right;
  font-size: 1.5rem;
}

#container {
  /*background-color: #fad955;*/
}#logo, img {
  width: 20%;
}

header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    height: 5%;
    padding-left: 1rem;
    color: Orangered;
    text-align: center;
}

#mynetwork {
  width: 90%;
  height: 35rem;
  background-color: rgb(213, 235, 241);
}

footer {
  font-size: .5rem;
  text-align: center;
}
.form-group {
  padding-top: 1rem;
}
