calendar-container {
    position: relative;
    padding-bottom: 75% !important;
    height: 0;
    overflow: hidden;
}
calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 40%;
    height: 40%;
}

img {
    position: relative;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}

h1{

    background-color:rgb(255, 178, 0);
        font-family: "Bookman";
        color: white;
        text-align: center;
}

footer {
  text-align: center;
}
