.navbar-light .bg-light {
  background-color: white;
}
.navbar {
  margin: 0;
  background-color: orange;
}

.navbar-toggler {
  background-color: orange;
  z-index: 6;
  font-weight: bold;
  font-size: 2rem;
  border: transparent;
}

.orange_bg {
  background-color: white;
}

calendar-container {
    position: relative;
    padding-bottom: 75% !important;
    height: 0;
    overflow: hidden;
}
calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 40%;
    height: 40%;
}

img {
    position: relative;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}

h1{

    background-color:rgb(255, 178, 0);
        font-family: "Bookman";
        color: white;
        text-align: center;
}

footer {
  text-align: center;
}
