
form {
    border: 3px solid #f1f1f1;
}


button {
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 30%;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}


img {
  width: auto;
 height: auto;
}

h1{


    text-align: center;
    background-color: blue;
    color:yellow;
}
