<!DOCTYPE html>
<html>
  <head>
      <title>{%block title %}{%endblock%}</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      {% block extracss %}{% endblock %}
  </head>
  <body>
      <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="orange_bg p-4">
          <ul class="nav navbar-nav ml-auto">
            <li id='goals' class="nav-item">
              <a class="nav-link" href="/goals">Goals<span class="sr-only">(current)</span></a>
            </li>
            <li id='mindmap' class="nav-item">
              <a class="nav-link" href="/mapPage">MindCloud</a>
            </li>
            <li id='reminders' class="nav-item">
              <a class="nav-link" href="/Reminders">Reminders</a>
            </li>
            <li id='achievements' class="nav-item">
              <a class="nav-link" href="/achievements">Achievements</a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="navbar navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
    {% block content %}
    {% endblock %}
  </body>
  <footer>
  Copyright&copy; 2017 Mind Cloud Inc.
  </footer>

</html>
