<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="static/css/login.css" rel="stylesheet" type="text/css"></link>
        <title>MindCloud</title>
    </head>
    <body>
        <h1> Mindcloud: Organize Your Way!</h1>

        <div class="container">
            <!-- <div class="row justify-content-center"> -->
                <!-- <div class="col">
                    <h2>Click Me</h2>
                </div> -->
            <div class="row justify-content-center">
                <div class="col-12 col-c">
                    <!-- <h2>Click Me</h2> -->
                    <button>Click Me</button>
                </div>
                <div class="col-12 col-a">
                    <img src="/static/imgs/images.png "class="arrow">
                </div>
                <div class="col-12 col-b">
                    <a href="/auth"><img src="/static/imgs/logo_brain.png" class ="brain">
                </div>
            </div>
        </div>

          <!-- <button type="submit" name=''>Login with Google</button> -->
    </body>
</html>
