<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="mapPage.css" rel="stylesheet" type="text/css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <style>
      body {
        background-color: rgb(226, 252, 255);
      }
    </style>
    <title>Mind Map</title>
  </head>
  <body>
    <div id=sky>
      <h1>Mind Map</h1>
      <form>
        <div class="form-group">
          <label for="formGroupGoals">Goals</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Goals">
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Achieved
            <i class="em  em-smiley"></i>
          </label>
        </div>
      <script>
        $(document).ready(function() {

        });
      </script>
    </div>
  </body>
</html>
