<!DOCTYPE html>
<html lang="en">
    <head>
    <body>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>MindCloud</title>
        <h1>Profile</h1>
        <ul>

  <li><a href="Achievements">Achievements</a></li>
  <li><a href="mapPage.html">Goals</a></li>
  <li><a href="Reminders.html">Reminders</a></li>
  <li style="float:right"><a class="active" href="#about">About us</a></li>
</ul>
            <link href="Profile.css" rel="stylesheet" type="text/css"></link>
            <div class="container"</div>

<!--
 interactive menu button
<p>Menu:</p>
<div class="container" onmouseover="myFunction(this)"<div class="dropdown">
  <div id="myDropdown" class="dropdown-content">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<script>

 function myFunction(x) {
    x.classList.toggle("change");s
}
</script> -->


          <!-- <button type="submit">Create Your Event</button>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

  </body>
  </html>
