


 <!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/static/js/goals.js"></script>
    <body>

        <div class="container"</div>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="/static/css/profile.css" rel="stylesheet" type="text/css"></link>
        <title>MindCloud</title>
        <h1>Profile Navigation</h1>
        <ul>

  <div class="two"><div id="quoteDisplay">

  </div>
  <button onclick="newQuote()">Inspirational Quotes</button>


</div>



  <li><a href="achievements.html">Achievements</a></li>
  <li><a href="goals.html">Goals</a></li>
  <li><a href="/Reminders">Reminders</a></li>
  <li style="float:right"><a class="active" href="#about">About us</a></li>
</ul>



 <!-- interactive menu button
<p>Menu:</p>
<div class="container" onmouseover="myFunction(this)"<div class="dropdown">
  <div id="myDropdown" class="dropdown-content">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div> -->
<!-- <script> -->
<!--
 function myFunction(x) {
    x.classList.toggle("change");
} -->
</script>

</body>
</html>
