
{% extends "base.html" %}

{% block title %} Mind Cloud {% endblock %}

{% block extracss %}
<link href="/static/css/reminders.css" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block content %}


<div id="container">
<div id=logo>
  <a href="/page/goals.html"><img id=brain_logo src="../../static/imgs/logo_brain.png" alt="Brain Logo"
  width:"40" height:"40"></img></a>
</div></img></a>
      <h1>Reminders</h1>
  <body>

    <!-- <iframe method='get' class='calendar' src="https://calendar.google.com/calendar/embed?src={{ email }}" style="border: 0" width="450" height="400" frameborder="0" scrolling="no"></iframe> -->

    <div class="container">
      <div class="row justify-content-center">
        <iframe method='get' class='calendar' src="https://calendar.google.com/calendar/embed?src={{ email }}" style="border: 0" width="500" height="350" align="middle" frameborder="0" scrolling="no"></iframe></div></div>

    <script <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script></script>
    <script>
    $('#goals').hide();
    </script>

  </body>
{% endblock %}
.
