
{% extends "base.html" %}

{% block title %} Mind Cloud {% endblock %}

{% block extracss %}
<link href="/static/css/reminders.css" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block content %}


      <a href="/page/profile.html"><img src="/static/imgs/logo_brain.png" alt="brain pic"></img></a>
      <h1>Reminders</h1>
  <body>

    <!-- <iframe method='get' class='calendar' src="https://calendar.google.com/calendar/embed?src={{ email }}" style="border: 0" width="450" height="400" frameborder="0" scrolling="no"></iframe> -->

        <iframe method='get' class='calendar' src="https://calendar.google.com/calendar/embed?src={{ email }}" style="border: 0" width="600" height="450" frameborder="0" scrolling="no"></iframe>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $('#goals').hide();
    </script>

  </body>
{% endblock %}
